.footer__container {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.footer__text {
    font-size: 0.8rem;
    color: var(--title-card);
    text-align: center;
}

.footer__link {
    text-decoration: underline;
}

.footer__link:hover {
    font-weight: 700;
}