.container__header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__navbar--menu-hamburguer {
    display: none;
}

.header__navbar {
    display: none;
}

.header__menu-hamburguer--ativo {
    display: block;
    position: absolute;
    top: 10%;
    width: 100vw;
}

.nav__list {
    background-color: var(--primary-color);
    color: var(--bg-color);
    height: 100vh;
}

.nav__item {
    padding: 1rem;
}

.header__title {
    font-size: 1,5rem;
    font-weight: 700;
    color: var(--title-menu);
}

@media screen and (min-width: 768px) {
    
    .header__menu-hamburger {
        display: none;
    }
    
    .header__navbar {
        display: block
    }

    .nav__list {
        display: flex;
        flex-direction: row;
        height: 100%;
        background-color: transparent;
        color: var(--primary-color);
    } 

    .nav__item {
        padding: 0.5rem;
    }

    .nav__link:hover {
        font-weight: 700;
    }

}