.section__beaches {
    height: 50vh;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.section__title {
    margin: 1rem 0;
    border-bottom: 0.2rem solid var(--secondary-color); 
}

.title {
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;    
}

.beaches__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 

    height: 80%;
    overflow-x: scroll;
    overflow-y: hidden;
}

.beach__container {
    height: 80%;
    width: auto;
    padding: 0.2rem;
}

.beach__image {
    height: 100%;
    width: 100%;
}

.beach__legend {
    color: var(--title-menu);
    text-align: center;
    font-size: 0.875rem;
}

.beaches__button--show-all {
    background-color: var(--primary-color);
    color: var(--bg-color);
    display: block;
    margin: 0.5rem auto;
    padding: 1rem 0;
    width: 50%;
}

.beaches__button--show-all:hover {
    background-color: var(--title-menu);
}

@media screen and (min-width: 768px) {

    .section__beaches {
        padding: 2rem;
    }
}