.section__events {
    padding: 0.5rem;
}

.events__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.event__card {
    color: var(--bg-color);
    background-color: var(--primary-color);
    padding: 1rem 1rem;
    text-align: center;
}

.event__card:hover {
    box-shadow: 0px 0px 5px var(--secondary-color);
}

.event__title {
    color: var(--title-card);
    font-size: 1.1rem;
    font-weight: 700;
    padding-bottom: 1rem;
}

.event__text {
    text-align: justify;
    padding-bottom: 1rem;
}

.event__icon {
    color: var(--secondary-color);
    font-size: 1.5rem;
}

.event__link:hover .event__icon {
    color: var(--bg-color);
}

.event__card--featured, 
.event__card--featured .event__title, 
.event__card--featured .event__icon {
    background-color: var(--secondary-color);
    color: var(--text-card-featured);
}

@media screen and (min-width: 768px) {

    .section__events {
        padding: 2rem;
    }

    .events__container {
        flex-direction: row;
    }

    .event__card{
        width: 33%;
    }
}